Build
bin
Debug
Release
.vs
ARM64
*.aps
*.ipch
Browser.VC.db
*.obj
Temp
*.user
Installer/Windows/Resources/product_app.zip
bin-temp
.DS_Store
.vscode
xcuserdata
DerivedData
product_app.zip
*.pyc
setup-space
Windows/Resources
node_modules
linux/temp
Tests/*.deb
Tests/*.rpm
Tests/*.exe
